Source: crawler
Section: devel
Priority: optional
Maintainer: technocore <technocore@technocore>
Build-Depends: debhelper-compat (= 13), liblapin-dev
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: crawler
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Configurable C code crawler
 Code style evaluation and arbitrary limitation of C functionalities enforcer.
